Body{
    text-align: center;
    margin-top: 65px;
    font-family: Calibri, Helvetica, sans-serif;  
}

.form{
    margin: 17px;
}

   
.container {   
    padding: 25px;   
    background-color: rgb(183, 250, 209);  
}   